$light: #FFFFFF;
$dark: #000000;
$grey-1: #585858;
$grey-2: #4A4A4A;
$grey-3: #373A39;
$grey-4: #979797;
$grey-5: #9B9B9B;
$grey-6: rgba(178, 179, 178, 1);

$brand-color-1: #417505;
$brand-color-2: #006225;
$brand-color-3: rgba(0,97,36,0.58);
$brand-color-4: #762023;

$system-color-1: #50E3C2;

$text-shadow-1:  0px 2px 4px rgba(0,0,0,0.50);
$text-shadow-2:  1px 2px 4px rgba(0,0,0,0.50);