@import '_colors';
@import '_typography-sfns-regular';
@import '_typography-proxima-nova';

.app-button {
  @extend %font-sdns-regular;
  font-size: 16px;
  color: $brand-color-2;
  border: 2px solid $brand-color-2;
  min-width: 156px;
  min-height: 18px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  
  &:hover {
    color: $light;
    background: $brand-color-2;
  }
  
  &[active] {
    color: $light;
    background: $brand-color-3;
    border-color: $brand-color-3;
  }
  
  &.inverse {
    font-size: 17px;
    color: $light;
    border-color: $light;
    border-width: 3px;
    background: none;
    
    &:hover {
      border-color: $brand-color-2;
      color: $brand-color-2;
      background: none;
    }
    
    &[active] {
      border-color: $brand-color-2;
      color: $brand-color-3;
      background: $grey-6;
    }
  }
  
  &.text-inverse {
    @extend %font-proxima-nova-thin;
    color: $light;
    font-size: 28px;
    padding: 2px;
    background: none;
    text-shadow: $text-shadow-2;
    border: none;
    
    &:hover {
      background: none;
      color: $brand-color-2;
    }
    
    &[active], &.iron-selected {
      background: none;
      color: $brand-color-4;
    }
  }
  
  a & {
    text-decoration: none;
  }
  a:hover & {
    text-decoration: none;
  }
}




