@import '_colors';
@import '_typography-proxima-nova';
@import '_typography-open-sans';
@import '_animation';

%headline-dark-body {
  color: $light;
  text-shadow: $text-shadow-1;
}

%nav-link-body {
  @extend %headline-dark-body;
  font-size: 22px;
}

.app-headings-dark {
  @extend %font-proxima-nova-thin;
  @extend %headline-dark-body;
  font-size: 45px;
}

.app-nav-link {
  @extend %font-open-sans;
  @extend %nav-link-body;
  @extend %animated;
  font-weight: 300;
  margin-right: 11px;
  margin-left: 11px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  
  &.core-nav-item-header-scrolled {
    font-size: 14px;
  }
  
  &.active, &.iron-selected {
    @extend %nav-link-body;
    font-weight: bold;
    border-bottom: 3px solid $light;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 18px;
  }
  
  &:hover {
    @extend %headline-dark-body;
    text-decoration: none;  
    font-size: 18px;
  }
  
  &:focus {
    @extend %headline-dark-body;
    text-decoration: none;  
    font-size: 18px;
  }
  
}


