@import '_colors';
@import '_typography-proxima-nova';

h1 {
  @extend %font-proxima-nova-light;
  font-size: 45px;
  color: $grey-1;
}

h2 {
  @extend %font-proxima-nova-light;
  font-size: 32px;
  color: $dark;
}

h3 {
  @extend %font-proxima-nova-light;
  font-size: 26px;
  color: $dark;
}

h4 {
  @extend %font-proxima-nova-light;
  font-size: 22px;
  color: $dark;
}

h5 {
  @extend %font-proxima-nova-semibold;
  font-size: 18px;
  color: $dark;
}

h6 {
  @extend %font-proxima-nova-rg;
  font-size: 14px;
  color: $dark;
}

