.email-icon {
  width: 14px;
  height: 14px;
}

.phone-icon {
  width: 14px;
  height: 15px;
}

.transport-icon {
  width: 14px;
  height: 19px;
}

.map-icon {
  color: #423D3D;
  width: 20px;
  margin-left: -3px;
}

.parking-icon {
  color: #423D3D;
  width: 20px;
  margin-left: -3px;
}

.cta-icon {
  color: #423D3D;
}