@import '_colors';
@import '_typography-proxima-nova';

.app-lead-text {
  &.dark {
    @extend %font-proxima-nova-light;
    font-size: 30px;
    color: $light;
    letter-spacing: 0px;
    text-align: center;
    text-shadow: $text-shadow-2;
  }
}

h1 {
  &.app-hero-title {
    @extend %font-proxima-nova-light;
    font-size: 50px;
    color: $light;
    text-shadow: $text-shadow-2;
    text-align: center;
  }  
}

.app-hero-lead {
  @extend %font-proxima-nova-rg;
  font-size: 32px;
  color: $light;
  letter-spacing: 0px;
  text-shadow: $text-shadow-2;
  text-align: center;
}

.app-body-1 {
  &.dark {
    @extend %font-proxima-nova-light;
    font-size: 24px;
    color: $light;
    letter-spacing: 0px;
    text-shadow: $text-shadow-1;
  }
}


