@import 'media-queries';


.visibility {
  
  &.tablet-only {
    display: none;
    
    @include tablet {
      display: block;
    }
    
    &.phone-only {
      display: none;
      
      @include tablet {
        display: block;
      }
      
      @include phone {
        display: block;
      }
      &.small-phone-only {
        
        @include tablet {
          display: block;
        }
        
        @include phone {
          display: block;
        }
        @include smallphone {
          display: block;
        }
      }
    }
    
    &.hide-on-small-phone {
      @include tablet {
        display: block;
      }
      
      @include smallphone {
        display: none;
      }
    }
  }
  
  &.phone-only {
    display: none;
    @include phone {
      display: block;
    }
    &.small-phone-only {
      @include phone {
        display: block;
      }
      @include smallphone {
        display: block;
      }
    }
  }
  
  &.small-phone-only {
    display: none;
    @include smallphone {
      display: block;
    }
  }
  
  &.hide-on-tablet {
    @include tablet {
      display: none;
    }
    
    &.hide-on-phone {
      @include phone {
        display: none;
      }
      
      @include tablet {
        display: none;
      }
      
      &.hide-on-small-phone {
        @include phone {
          display: none;
        }
        @include smallphone {
          display: none;
        }
        
        @include tablet {
          display: none;
        }
      }
    }
    
    &.hide-on-small-phone {
      @include smallphone {
        display: none;
      }
    }
    
    
  }
  
  &.hide-on-phone {
    @include phone {
      display: none;
    }
    &.hide-on-small-phone {
      @include phone {
        display: none;
      }
      @include smallphone {
        display: none;
      }
    }
  }
  
  &.hide-on-small-phone {
    @include smallphone {
      display: none;
    }
  }
}


.wrapper {
  width: 101%;
}