@import '../../base/media-queries';

.core-nav-list-header {
  margin-top: 10px;
  
  @include tablet {
    display: none;
  }
  
  @include phone {
    display: none;
  }
  
  @include smallphone {
    display: none;
  }
}
