@import '../../base/media-queries';
@import '../../base/colors';

.core-nav-list-header {
  margin-top: 10px;
  
  @include tablet {
    display: none;
  }
  
  @include phone {
    display: none;
  }
  
  @include smallphone {
    display: none;
  }
}

.core-nav-list-drawer {
  .core-nav-list-drawer-container {
    a.core-nav-item-drawer {
      color: $brand-color-1;
      
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}
