@import '../base/colors';
@import '../base/typography-proxima-nova';
@import '../base/typography-abeezee';
@import '../base/media-queries';

.app-about-page {
  .block-section {
    &.block-section-about {
      padding: 0px;
      
      .app-body-1 {
        max-width: 849px;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .about-timeline {
        width: 100%;
        z-index: -10;
      }
    }
    
    &.block-section-about-location {
      padding: 0px;
      
      &.block-section-about-location-1 {
        background: $brand-color-6;
      }
      
      .about-location-image {
        min-width: 580px;
        
        @include smallphone {
          max-width: 100%;
          min-width: 300px;
        }
        
        @include phone {
          max-width: 100%;
          min-width: 300px;
        }
        
        img {
          width: 100%;
        }
      }
      
      .about-location-text-container {
        padding-top: 106px;
        padding-left: 120px;
        padding-right: 100px;
        padding-bottom: 135px;
        
        .app-headings {
          margin-top: 0px;
          padding: 0px;
        }
        
        @include smallphone {
          padding: 20px;
          width: 100%;
        }
        
        @include phone {
          padding: 50px;
          width: 100%;
        }
        
        .about-location-description-container {
          @include smallphone {
            width: 100%;
            
          }
          
          @include phone {
            width: 100%;
          }
        }
        
        .app-body-2 {
          &.about-location-description {
            text-align: justify;
            padding-right: 40px;
            border-right: 1px solid $grey-4;
            min-width: 392px;
            padding-bottom: 20px;
            
            @include smallphone {
              min-width: 100%;
              border-right: 0px;
              padding-right: 0px;
            }
            
            @include phone {
              min-width: 100%;
              border-right: 0px;
              padding-right: 0px;
            }
          }
        }
        
        .about-location-additional-info {
          padding-left: 18px;
          
          @include smallphone {
            padding-top: 20px;
            
          }
          
          @include phone {
            padding-top: 20px;
          }
          
          .about-location-contact-list {
            margin-top: 62px;
            
            .about-location-contact-list-item {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    
    &.block-section-faq {
      background: $brand-color-6;
      
      .faq-list {
        width: 400px;
        margin-left: 30px;
        margin-right: 30px;
        
        
        .faq-item {
          margin-bottom: 40px;
          
          .faq-question {
            font-size: 18px;
            @extend %font-proxima-nova-semibold;
            color: $dark;
            cursor: pointer;
          }
          
          .faq-answer {
            margin-top: 10px;
            @extend %font-proxima-nova-light;
            color: $grey-3;
            line-height: 24px;
            font-size: 16px;
            height: 0px;
            overflow: hidden;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
          
          &.faq-reveal {
            .faq-answer {
              height: 270px;
            }
          }
        }
      }
    }
  }
}