@import '../base/colors';
@import '../base/typography-proxima-nova';
@import '../base/typography-alegreya';
@import '../base/media-queries';

.app-order-page {
  .block-section {
    
    &.block-section-special-opt-in {
      background: $brand-color-6;
      
      .block-section-special-opt-in-container {
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
    
    &.block-section-takeout-order {
      padding: 0px;
      
      .takeout-header {
        margin-top: 119px;
        width: 557px;
        text-align: center;
      }
      
      .app-headings-dark {
        font-size: 45px;
        
      }
      
      .selector-location {
        margin-bottom: 108px;
        
        .location-tab-divider {
          height: 45px;
          border-right: 1px solid $light;
        }
        
        .selector-location-tab {
          &.app-headings-dark {
            font-size: 32px;
          }
        }
      }
      
      
    }
    
    &.block-section-order {
      padding: 0px;
      
      &.block-section-order-1 {
        background: $brand-color-6;
      }
      
      &.block-section-order-2 {
        .option-content {
          
          margin-right: 0px;
          
          @include phone {
            margin-left: 0;
            
            .app-headings {
              margin-top: 60px;
            }
          }
          
          @include smallphone {
            margin-left: 0;
            
            .app-headings {
              margin-top: 60px;
            }
          }
        }
        
        
      }
      
      .order-content {
        margin-top: 58px;
        margin-bottom: 54px;
      }
      
      .option-slide {
        width: 95%;
        // min-width: 300px;
        .option-content {
          min-width: 300px;
          // margin-right: 174px;
          
          @include phone {
            margin-right: 0;
          }
          
          @include smallphone {
            margin-right: 0;
          }
          
          .app-headings {
            text-align: center;
            max-width: 380px;
            margin-bottom: 34px;
            margin-top: 20px;
          }
          
          .app-body-1.options-text {
            font-size: 20px;
            text-align: center;
            padding-bottom: 20px;
            width: 385px;
          }
        }
        
        .option-image-group {
          .option-image {
            
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;
            img {
              width: 100%;
            }
          }
        }
        
       
      }
    }
  }
}