@import '../../mixins/media-queries';

:host .hero-lead {
  font-family: 'ProximaNova-Regular';
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0px;
  max-width: 700px;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.50);
  margin-left: 20px;
  margin-right: 20px;
  
  @include phone {
    font-size: 20px;
  }
  
  @include smallphone {
    font-size: 20px;
  }
  
  @include smallphonelandscape {
    font-size: 16px;
  }
}