:host .hero-carousel-buttons {
  height: 1015px;
}

:host .hero-carousel-nav-button {
  cursor: pointer;
  background-color: #9B9B9B;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-bottom: 65px;
  // margin-top: 35px;
  &.hero-carousel-nav-button-active {
    background-color: #ffffff;
  }
}