:host .nav-item {
  color: #FFFFFF;
  margin-right: 11px;
  margin-left: 11px;
  text-transform: uppercase;
  &.nav-item-active {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: bold;
  }
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
  }
  &.nav-item-dark {
    color: #000000;
    &.nav-item-active {
      color: #000000;
      border-bottom: 1px solid #000000;
    }
  }
}