@import '../../mixins/media-queries';

:host .opt-in-button-container {
  @include tablet {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
  }
  
  @include phone {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
  }
  
  .opt-in-button-anchor {
    color: #ffffff;
    .opt-in-button {
      width: 180px;
      height: 45px;
      border: 3px solid #ffffff;
      text-transform: uppercase;
      font-family: '.SFNSText-Regular';
      font-size: 17px;
    }
    
    &:hover {
      text-decoration: none;
    }
  }
}