@import '../../base/colors';
@import '../../base/media-queries';

.block-section {
  padding: 20px;
  padding-top: 28px;
  
  .block-section-divider {
    border-top: 1px solid $dark;
    width: 100px;
    height: 24px;
    margin-top: 18px;
    margin-bottom: 7px;
  }
  
  .app-headings {
    padding-left: 20px;
    padding-right: 20px;
    
    @include phone {
      text-align: center;
    }
    
    @include smallphone {
      text-align: center;
    }
  }
  
  .app-lead-text {
    width: 820px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
