@import '../../base/colors';
@import '../../base/typography-alegreya';
@import '../../base/media-queries';

.block-section {
  &.block-section-special-opt-in {
    padding: 0px;
    
    .block-section-special-opt-in-container {
      margin-top: 32px;
      margin-bottom: 45px;
    }
    
    .booking-opt-in-header {
      @extend %font-alegreya;
      font-size: 20px;
      color: $brand-color-4;
      letter-spacing: 6.12px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 29px;
      
    }
    
    .opt-in-cta {
      @include phone {
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }
      
      @include smallphone {
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }
    }
    
    .opt-in-body {
      @extend %font-alegreya;
      font-size: 20px;
      color: $grey-1;
      letter-spacing: 0px;
      line-height: 20px;
      max-width: 462px;
      margin-right: 70px;
      text-align: center;
      
      @include phone {
        margin-right: 0;
      }
      
      @include smallphone {
        margin-right: 0;
      }
    }
  }
}