@import '../../base/colors';
@import '../../base/media-queries';

.block-section {
  &.block-section-jumbo {
    padding: 0px;
    height: 514px;
    
    .block-section-jumbo-container {
      height: 514px;
      
      .app-hero-title {
        padding-left: 20px;
        padding-right: 20px;
        @include phone {
          font-size: 40px;
        }
        
        @include smallphone {
          font-size: 40px;
        }
        
        @include smallphonelandscape {
          font-size: 40px;
        }
      }
    }
  }
}

.block-image-background.block-section-jumbo-background-image {
  min-width: 1400px;
  height: 650px;
}