@import '../../base/colors';
@import '../../base/typography-proxima-nova';
@import '../../base/media-queries';

.footer {
  @extend %font-proxima-nova-rg;
  height: 300px;
  text-align: center;
  font-size: 19.75px;
  color: $light;
  background: #004018;
  
  nav-toolbar {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  
  .footer-anchor {
    font-size: 16px;
    color: $light;
    line-height: 24px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  }
  
  .footer-divider {
    border-right: 1px solid $light;
    margin-left: 5px;
    margin-right: 5px;
    height: 16px;
    width: 1px;
  }
  
  .footer-copyright {
    margin-bottom: 37px;
  }
}