@import '../../mixins/media-queries';

hero-cta {
  position: absolute;
  bottom: 119px;
  width: 100%;
  
  @include tablet {
    bottom: 19px;
  }
  
  @include phone {
    bottom: 19px;
  }
  
  @include smallphone {
    bottom: 40px;
  }
  
  @include smallphonelandscape {
    bottom: 40px;
  }
}

.hero-cta-arrow {
  overflow: hidden;
  display: inline-block;
  font-size: 12px; /*set the size for arrow*/
  width: 4em;
  height: 4em;
  margin-top: -2em;
}

.hero-cta-arrow-down {
  transform: rotate(-144deg) skew(-20deg);
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  bottom: 119px;
}