@import '../../base/media-queries';
@import '../../base/colors';

hero-wrapper {
  .app-hero-title {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
    
    @include phone {
      font-size: 40px;
    }
    
    @include smallphone {
      font-size: 40px;
    }
    
    @include smallphonelandscape {
      font-size: 40px;
    }
  }
  .app-hero-divider {
    border-top: 2px solid $light;
    width: 276px;
    height: 24px;
    margin-top: 18px;
    margin-bottom: 7px;
    
    @include phone {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    
    @include smallphone {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    
    @include smallphonelandscape {
      margin-top: 5px;
      margin-bottom: 5px;
      height: 2px;
    }
  }
  
  .app-hero-lead {
    max-width: 880px;
    margin-left: 20px;
    margin-right: 20px;
    
    @include phone {
      font-size: 25px;
    }
    
    @include smallphone {
      font-size: 25px;
    }
    
    @include smallphonelandscape {
      font-size: 25px;
    }
  }
}

.hero-image-background {
  width: 100%;
  min-width: 756px;
  height: 100%;
}

