.list-with-title-block {
  padding: 20px;
  width: 300px;
  
  .app-headings {
    margin-bottom: 25px;
  }
}

.list-block {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  .icon-container {
    margin-right: 15px;
    width: 14px;
  }
}