:host .location-tab {
  
  .location-tab-item {
    
    paper-button {
      padding-left: 123px;
      padding-right: 123px;
      font-size: 36px;
      letter-spacing: 0px;
      font-family: 'ProximaNovaT-Thin';
      color: #417505;

      &.location-tab-item-active {
        font-family: 'ProximaNova-Light';
        color: #762023;
      }
    }
    
    
  }
  
  .location-tab-divider {
    height: 45px;
    border-right: 1px solid #417505;
  }
  
  
}