@import '../../base/media-queries';

.nav-toolbar-icon {
  width: 44px;
  height: 44px;
  
  &.facebook-icon {
    margin-right: 27px;
  }
  
  @include tablet {
    &.facebook-icon {
      margin-right: 20px;
    }
  }
  
  @include phone {
    &.facebook-icon {
      margin-right: 10px;
    }
  }
  
  @include smallphone {
    &.facebook-icon {
      margin-right: 5px;
    }
  }
  
  &.nav-toolbar-anchor-footer {
    width: 64px;
    height: 64px;
  }
}

nav-toolbar {
  margin-left: 48px;
  margin-right: 145px;
  display: block;
  
  @include smalldesktop {
    margin-right: 50px;
    margin-left: 20px;
  }
  
  @include tablet {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  @include phone {
    margin-right: 10px;
    margin-left: 10px;
  }

}

