@import '../../mixins/media-queries';

:host .right-toolbar-icon {
  color: #ffffff;
  margin-right: 27px;
  
  @include tablet {
    margin-right: 10px;
  }
  
  @include phone {
    margin-right: 10px;
  }
}

:host right-toolbar {
  margin-left: 37px;
  margin-right: 96px;
  
  @include smalldesktop {
    margin-right: 50px;
    margin-left: 20px;
  }
  
  @include tablet {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  @include phone {
    margin-right: 10px;
    margin-left: 10px;
  }
}