:host .title-lead-section {
  text-align: center;
  width: 820px;
  padding-top: 106px;
  .title {
    font-family: 'ProximaNova-Light';
    font-size: 45px;
    color: #585858;
    margin-bottom: 57px;
  }
  
  .lead {
    font-family: 'ProximaNovaT-Thin';
    font-size: 30px;
    color: #585858;
    letter-spacing: 0px;
  }
}